# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      dry-run-enabled:
        description: 'Enable dry run for publishing (does not publish to npmjs)'
        required: false
        default: 'false'
        type: boolean

env:
  # Disable Husky during the workflow
  HUSKY: 0

permissions:
  contents: read
  id-token: write

jobs:
  #! Test bypassed for now
  #   test:
  #     runs-on: ubuntu-latest
  #     steps:
  #       - uses: actions/checkout@v4
  #       - uses: actions/setup-node@v4
  #         with:
  #           node-version: '20.x'
  #       - run: npm ci
  #       - run: npm test

  build-npm-package:
    # needs: test
    runs-on: custodians-linux-medium
    outputs:
      npm-artifact-name: ${{ steps.set-publish-data.outputs.artifact-name }}
    steps:
      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-fetch-depth: '1'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20.x'

      - name: Setup JQ
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 # v3.2.0
        with:
          version: 1.7

      - name: Run npm
        run: npm ci

      - name: Set Publish Data
        id: set-publish-data
        run: |
          VERSION=$(jq -r '.version' './package.json')
          NPM_PACKAGE_NAME="hashgraph-hedera-custodians-integration-${VERSION}.tgz"
          echo "artifact-name=${NPM_PACKAGE_NAME}" >> $GITHUB_OUTPUT

      - name: Build npm project
        id: npm-pack
        run: npm pack

      - name: Upload Hedera Custodians Library Package Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: npm-package
          path: ./${{ steps.set-publish-data.outputs.artifact-name }}
          if-no-files-found: error

  publish-npm-package:
    runs-on: ubuntu-latest
    needs:
      - build-npm-package
    steps:
      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-fetch-depth: '1'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20.x'
          node-registry: 'https://registry.npmjs.org'

      - name: Install NPM latest
        run: npm install -g npm@11.7.0

      - name: Download Hedera Custodians Library NPM Package
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: npm-package

      - name: Publish NPM Package
        run: |
          args="--access=public"
          if [[ "${{ inputs.dry-run-enabled || 'false' }}" == "true" ]]; then
            args="${args} --dry-run"
          fi

          package="${{ needs.build-npm-package.outputs.npm-artifact-name }}"
          echo "::group::Publishing package: ${package} with args: ${args}"
          npm publish ${package} ${args}
          echo "::endgroup::"
